<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCAD.NET" version="20.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="AutoCAD.NET.Core" version="20.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="AutoCAD.NET.Model" version="20.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="log4net" version="3.0.4" targetFramework="net48" />
</packages>